body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1427px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 6px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 5px 6px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 5px 6px rgba(215, 215, 215, 0.349019607843137);
}
#u16602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1427px;
  height:54px;
}
#u16603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:54px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:54px;
}
#u16605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16606 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:19px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16608 {
  border-width:0px;
  position:absolute;
  left:1363px;
  top:14px;
  width:44px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
#u16610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16611 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16613 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16615 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:14px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16617 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16619 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16621 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16623 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:16px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16625 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:14px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u16626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16627 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:16px;
  width:201px;
  height:24px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u16628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u16629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u16629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:228px;
  height:610px;
}
#u16630 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16631 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:75px;
  width:108px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u16633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u16633 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:74px;
  width:236px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u16634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u16635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:4px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u16635 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:50px;
  width:66px;
  height:4px;
  color:#999999;
}
#u16636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u16638 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:105px;
  width:65px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u16639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16640 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:137px;
  width:79px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16642 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:102px;
  width:22px;
  height:22px;
}
#u16643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u16644 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:195px;
  width:65px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u16645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u16646 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:192px;
  width:28px;
  height:29px;
}
#u16647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16648 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:224px;
  width:79px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16650 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:213px;
  width:1091px;
  height:449px;
}
#u16651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:44px;
}
#u16651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u16653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:44px;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:0px;
  width:291px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u16655 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:225px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16656 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:44px;
}
#u16657 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:0px;
  width:254px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16658 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:250px;
  word-wrap:break-word;
}
#u16659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16660 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16661 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:44px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16663 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:44px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u16664 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16665 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:44px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16669 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:84px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:84px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:84px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:39px;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:316px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u16677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:39px;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:124px;
  width:291px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:287px;
  word-wrap:break-word;
}
#u16679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:124px;
  width:225px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u16680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u16681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:39px;
}
#u16681 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:124px;
  width:254px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:41px;
}
#u16683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:163px;
  width:316px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:312px;
  word-wrap:break-word;
}
#u16685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:41px;
}
#u16685 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:163px;
  width:291px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:287px;
  word-wrap:break-word;
}
#u16687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
}
#u16687 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:163px;
  width:225px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u16689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u16689 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:163px;
  width:254px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16693 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:204px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16695 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:204px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16697 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:204px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:244px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:244px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:244px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:284px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:284px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16711 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:284px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16713 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:284px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16717 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:324px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16719 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:324px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16721 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:324px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:364px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16725 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:364px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16727 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:364px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16729 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:364px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:40px;
}
#u16731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:404px;
  width:316px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  word-wrap:break-word;
}
#u16733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:40px;
}
#u16733 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:404px;
  width:291px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:287px;
  word-wrap:break-word;
}
#u16735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:40px;
}
#u16735 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:404px;
  width:225px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:221px;
  word-wrap:break-word;
}
#u16737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u16737 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:404px;
  width:254px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u16740 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:733px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u16741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u16742 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:729px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u16743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u16745 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:729px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u16746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u16747 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:733px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u16748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16749 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:719px;
  width:26px;
  height:26px;
}
#u16750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16751 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:720px;
  width:24px;
  height:24px;
}
#u16752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16753 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:724px;
  width:248px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u16755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16755 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:720px;
  width:24px;
  height:24px;
}
#u16756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16757 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:720px;
  width:24px;
  height:24px;
}
#u16758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16759 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:720px;
  width:24px;
  height:24px;
}
#u16760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16761 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:720px;
  width:24px;
  height:24px;
}
#u16762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16763 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:720px;
  width:24px;
  height:24px;
}
#u16764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16765 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:720px;
  width:24px;
  height:24px;
}
#u16766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16767 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:720px;
  width:24px;
  height:24px;
}
#u16768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16769 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:271px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16771 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:307px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16773 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:350px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16775 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:391px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16777 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:434px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16779 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:474px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16781 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:516px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16783 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:553px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16785 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:595px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A2FF;
}
#u16787 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:632px;
  width:29px;
  height:16px;
  color:#00A2FF;
}
#u16788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16789 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:147px;
  width:55px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u16790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u16791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16791 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:149px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16791_ann {
  border-width:0px;
  position:absolute;
  left:363px;
  top:145px;
  width:1px;
  height:1px;
}
#u16793 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:149px;
  width:174px;
  height:22px;
}
#u16793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
}
#u16793_input:disabled {
  color:grayText;
}
