body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16796 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:42px;
  width:280px;
  height:890px;
}
#u16797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:437px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16798 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:42px;
  width:305px;
  height:890px;
}
#u16799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:437px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16800 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:42px;
  width:305px;
  height:890px;
}
#u16801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:437px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16802 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:42px;
  width:167px;
  height:890px;
}
#u16803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:437px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16804 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:96px;
  width:100px;
  height:42px;
}
#u16805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16806 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:167px;
  width:100px;
  height:42px;
}
#u16807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16808 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:167px;
  width:100px;
  height:42px;
}
#u16809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16810 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:254px;
  width:100px;
  height:60px;
}
#u16811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16812 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:233px;
  width:100px;
  height:42px;
}
#u16813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16814 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:294px;
  width:100px;
  height:42px;
}
#u16815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16816 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:443px;
  width:100px;
  height:42px;
}
#u16817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(152, 191, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16818 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:505px;
  width:100px;
  height:42px;
}
#u16819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16820 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:566px;
  width:100px;
  height:42px;
}
#u16821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16822 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:138px;
  width:0px;
  height:0px;
}
#u16822_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u16823 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16824 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:188px;
  width:0px;
  height:0px;
}
#u16824_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:188px;
  height:8px;
}
#u16825 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16826 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:209px;
  width:0px;
  height:0px;
}
#u16826_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u16827 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16828 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:284px;
  width:0px;
  height:0px;
}
#u16828_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u16828_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-34px;
  width:8px;
  height:38px;
}
#u16828_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-34px;
  width:20px;
  height:8px;
}
#u16829 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16830 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:284px;
  width:0px;
  height:0px;
}
#u16830_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u16830_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:39px;
}
#u16830_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:27px;
  width:20px;
  height:8px;
}
#u16831 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(152, 191, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16832 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:233px;
  width:100px;
  height:42px;
}
#u16833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16834 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:294px;
  width:100px;
  height:42px;
}
#u16835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16836 {
  border-width:0px;
  position:absolute;
  left:-224px;
  top:42px;
  width:100px;
  height:42px;
}
#u16837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16838 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:254px;
  width:0px;
  height:0px;
}
#u16838_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u16839 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16840 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:315px;
  width:0px;
  height:0px;
}
#u16840_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u16841 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16842 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:443px;
  width:100px;
  height:42px;
}
#u16843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16844 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:464px;
  width:0px;
  height:0px;
}
#u16844_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:235px;
  height:8px;
}
#u16845 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16846 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:526px;
  width:100px;
  height:60px;
}
#u16847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16848 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:505px;
  width:100px;
  height:42px;
}
#u16849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16850 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:566px;
  width:100px;
  height:42px;
}
#u16851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16852 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:556px;
  width:0px;
  height:0px;
}
#u16852_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u16852_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-34px;
  width:8px;
  height:38px;
}
#u16852_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-34px;
  width:20px;
  height:8px;
}
#u16853 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16854 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:556px;
  width:0px;
  height:0px;
}
#u16854_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u16854_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:39px;
}
#u16854_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:27px;
  width:20px;
  height:8px;
}
#u16855 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16856 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:485px;
  width:0px;
  height:0px;
}
#u16856_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u16857 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16858 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:735px;
  width:100px;
  height:42px;
}
#u16859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(152, 191, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16860 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:803px;
  width:100px;
  height:42px;
}
#u16861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16862 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:864px;
  width:100px;
  height:42px;
}
#u16863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16864 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:735px;
  width:100px;
  height:42px;
}
#u16865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16866 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:756px;
  width:0px;
  height:0px;
}
#u16866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u16867 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16868 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:803px;
  width:100px;
  height:42px;
}
#u16869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16870 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:864px;
  width:100px;
  height:42px;
}
#u16871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16872 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:756px;
  width:0px;
  height:0px;
}
#u16872_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u16872_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:76px;
}
#u16872_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:20px;
  height:8px;
}
#u16873 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16874 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:756px;
  width:0px;
  height:0px;
}
#u16874_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u16874_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:137px;
}
#u16874_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:125px;
  width:20px;
  height:8px;
}
#u16875 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16876 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:824px;
  width:0px;
  height:0px;
}
#u16876_seg0 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-4px;
  width:183px;
  height:8px;
}
#u16877 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16878 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:885px;
  width:0px;
  height:0px;
}
#u16878_seg0 {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-4px;
  width:183px;
  height:8px;
}
#u16879 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16880 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:526px;
  width:0px;
  height:0px;
}
#u16880_seg0 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-4px;
  width:102px;
  height:8px;
}
#u16881 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16882 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:587px;
  width:0px;
  height:0px;
}
#u16882_seg0 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-4px;
  width:102px;
  height:8px;
}
#u16883 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16884 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:42px;
  width:167px;
  height:42px;
}
#u16885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u16886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16886 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:42px;
  width:305px;
  height:42px;
}
#u16887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u16888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16888 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:42px;
  width:305px;
  height:42px;
}
#u16889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u16890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16890 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:42px;
  width:280px;
  height:42px;
}
#u16891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u16892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16892 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:348px;
  width:100px;
  height:60px;
}
#u16893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16894 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:408px;
  width:0px;
  height:0px;
}
#u16894_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u16894_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u16895 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u16896 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:378px;
  width:0px;
  height:0px;
}
#u16896_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u16896_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-42px;
  width:8px;
  height:46px;
}
#u16896_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-47px;
  width:20px;
  height:20px;
}
#u16897 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u16898 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:314px;
  width:0px;
  height:0px;
}
#u16898_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u16898_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:19px;
  width:20px;
  height:20px;
}
#u16899 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u16900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u16900 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:625px;
  width:100px;
  height:60px;
}
#u16901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16902 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:586px;
  width:0px;
  height:0px;
}
#u16902_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u16902_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u16903 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u16904 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:655px;
  width:0px;
  height:0px;
}
#u16904_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u16904_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-47px;
  width:8px;
  height:51px;
}
#u16904_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-52px;
  width:20px;
  height:20px;
}
#u16905 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u16906 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:685px;
  width:0px;
  height:0px;
}
#u16906_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u16906_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u16907 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
